@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}

.input-box {
    margin-bottom: 1vh;
    width: 15vw !important;
}

.submit {
    position: relative;
    bottom: 0;
    left: 0;
    width: 20vw;
    margin-top: 1vh;
}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    width: 43vw;
}

.contact {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 16vw;
}

.active {
    color: dodgerblue !important;
}

.validator {
    color: red;
}

header {
    font-size: 5vh;
    font-weight: bold;
    margin: 1vh;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2vh;
}

.navbar1 {
    position: absolute;
    margin: 2vh;
    right: 0;
    top: 0;
}

.navbar__text {
    margin: 1vh;
    font-size: 3vh;
    color: black;
}
